In [1]:
import pandas as pd
import numpy as np

loan= pd.read_csv('D:/Machiene_Learning/Datasets/loan.csv')

In [2]:
loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [3]:
loan.isnull().sum().sum()

149

In [4]:
loan.shape

(614, 13)

In [5]:
loan.dropna(axis=0, inplace= True)
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [6]:
targ= loan['Loan_Status']

In [7]:
loan.shape

(480, 13)

In [8]:
loan["Dependents"]= loan["Dependents"].replace('3+', 3)

In [9]:
loan['Dependents']= pd.to_numeric(loan['Dependents'])

In [10]:
loan['Dependents'].value_counts()
loan= loan.drop(['Loan_ID','Loan_Status'], axis=1)

In [11]:
loan.dtypes

Gender                object
Married               object
Dependents             int64
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [12]:
loan_dummies = pd.get_dummies(loan)

In [13]:
from sklearn.model_selection import train_test_split
[xtrain, xval, ytrain, yval]= train_test_split(loan_dummies, targ , test_size= 0.3, random_state=100)

In [14]:
xtrain.isnull().sum()

Dependents                 0
ApplicantIncome            0
CoapplicantIncome          0
LoanAmount                 0
Loan_Amount_Term           0
Credit_History             0
Gender_Female              0
Gender_Male                0
Married_No                 0
Married_Yes                0
Education_Graduate         0
Education_Not Graduate     0
Self_Employed_No           0
Self_Employed_Yes          0
Property_Area_Rural        0
Property_Area_Semiurban    0
Property_Area_Urban        0
dtype: int64

In [24]:
from sklearn.metrics import accuracy_score
lg= LogisticRegression()
lg.fit(xtrain,ytrain)
lg_pred = lg.predict(xval)

lg_acc =accuracy_score(yval, lg_pred)
lg_acc

0.8263888888888888

In [23]:
from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model import LogisticRegression

model=LogisticRegression()
#1 data is divided into 5 parts, cv is for cross validation, scoring= accuracy is inbuilt
kfold=KFold(n_splits=5, shuffle=True)
result =cross_val_score(model,xtrain,ytrain,cv=kfold,scoring='accuracy')
print(result.mean())

0.7857330992098333

In [ ]:
#cross_val_score?

In [ ]:
#in kfold the dataset is divided into 5 parts, and the accuracy obtained above is compared with the lg_acc accuracy score
#if both are approximately same then it is fine else the model is overfitted or underfitted.